/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/archivo/v8/k3kUo8kEI-tA1RRcTZGmTmHraLjA3g.ttf') format('truetype');
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Archivo', sans-serif;
  background: #ffffff;
  overflow: auto;
  height: 100vh;
  background-image: url('/bgImg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Utility Classes */
@layer utilities {
  .btn_white { 
    @apply border-white bg-white px-8 py-3 text-green-50;
  }
  
  .btn_white_text  { 
    @apply border-white bg-white px-8 py-3 text-gray-900;
  }
  
  .btn_dark_green { 
    @apply bg-green-900 px-8 py-4 text-white transition-all hover:bg-black;
  }
  
  .btn_dark_green_outline  { 
    @apply border-gray-200 bg-green-900 px-8 py-5 text-white;
  }
  
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  /* Other Utility Classes... */
}

/* Custom Components and Layout */
/* ... */

/* Additional Styles */
.gridlines {
  position: relative;
  top: -30px;
  padding: 0;
  margin: auto;
  width: 65vw;
  height: 100vh;
  border-right: solid rgb(238, 236, 236) 0.2px;
  background-image: 
    linear-gradient(to right, rgba(131, 125, 125, 0.5) 0.1px, transparent 0.6px), 
    linear-gradient(to bottom, rgba(131, 125, 125, 0.5) 0.1px, transparent 0.6px);
  background-size: calc(100% / 5) calc(100% / 6);
}

.gridline {
  position: relative;
  margin: auto;
  background-image: 
    linear-gradient(to right, rgba(131, 125, 125, 0.5) 0.1px, transparent 0.6px), 
    linear-gradient(to bottom, rgba(131, 125, 125, 0.5) 0.1px, transparent 0.6px);
  background-size: calc(100% /9 ) calc(100% / 6);
  width: 100%;
  padding: 2rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-round {
  border-radius: 25px;
}

.subsc {
  background-image: linear-gradient(to left, rgb(11, 2, 139) 1px, rgb(11, 2, 139) 0);
  background-image: linear-gradient(to top, rgb(12, 2, 102) 1px, rgb(12, 2, 102) 0);
}

.text-p {
  @media screen and (min-width: 600px) {
    font-size: 4px;
  }
}

/* Mobile Styles */
@media screen and (min-width: 640px) and (max-width: 760px){
    .gridlines {
      width: 90vw;
      height: 100vh;
      pointer-events: none;
    }
  }
  @media screen and (max-width: 640px) {
    .gridlines {
      width: 90vw;
      height: 100vh;
      pointer-events: none;
    }

    .cardBorders {
      background-color: red;
      border-radius: 50px;
    }

    .outer-container {
      display: flex;
      justify-content: center;
      padding: 0 20px;
    }
  }
